@keyframes move-up {
	0% {
		transform: translateY(15%);
	}
	80% {
		transform: translateY(0%);
	}

    100% {
        transform: translateY(10%);
    }
}

#to-top {
    margin: 0;
}

#to-top a {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    background: var(--orange);
    border-radius: 100%;
    cursor: pointer;
}

#to-top svg {
    color: var(--white);
    font-size: 1.56rem;
    width: 100%;
    transform: translateY(10%);
}

#to-top:hover svg {
    animation: move-up 1s infinite;
}

.social-icons {
    margin-bottom: 3rem;
}

.social-icons a {
    font-size: 2rem;
    color: var(--dark-grey);
    display: inline-block;
    margin: 0 1rem 0 0;
    transition: all .2s ease;
}

.social-icons a:hover {
    color: var(--black);
    transition: all .2s ease;
    transform: scale(1.05);
}

#copyright {
    position: center;
    padding: 0.3rem 1.25rem 0.1rem .25rem;
    font-size: .7rem;
    background: var(--purple);
    color: var(--white);
    text-align: center;
    border-radius: 0 .7rem 0 0;
}
